!!!
%html
  %head
    %meta{charset:"utf-8"}

    %meta{'content' => "IE=edge,chrome=1", 'http-equiv' => "X-UA-Compatible"}

    %title= current_page.data.title || "Pen & Lens"

    = stylesheet_link_tag 'styles'
    = javascript_include_tag  "all"

  %body{class: page_classes}
    %header
      Pen & Lens
    %nav
      - unless current_page.path == 'index.html'
        %a{href:'/index.html'} Home
    = yield
