---
title: Book Club
---

.title
  Books
%ol{reversed: :reversed}
  %li= link_to "The Bell Jar - Sylvia Plath", "books/the-bell-jar.html"
  %li= link_to "The Alchemist - Paulo Coelho", "books/the-alchemist.html"