---
title: Book Club
---
.reading-list
  .title
    Reading List
  %ol{reversed: :reversed}
    %li= link_to "The Bell Jar - Sylvia Plath", "books/the-bell-jar.html"
    %li= link_to "The Alchemist - Paulo Coelho", "books/the-alchemist.html"

  .title
    Upcoming
  %ol
    %li= link_to "1984 - George Orwell", "books/1984.html"