%section.book-info
  %img.book-info--img{src: '/images/the-alchemist.jpg'}
  .book-info--description
    .title
      %a{href:'http://en.wikipedia.org/wiki/The_Alchemist_%28novel%29', target: '_blank'} The Alchemist
    .by
      %a{href: 'http://en.wikipedia.org/wiki/Paulo_Coelho', target: '_blank'} Paulo Coelho
    .info
      .started
        Started:
        %a{href:'http://www.meetup.com/pen_and_lens/events/219462145/', target: '_blank'} 1-13-2015
      .finish Finish By: 1-27-2015
      .recommended
        Recommended By:
        %a{href:'http://www.meetup.com/pen_and_lens/members/183242533/', target: '_blank'} Tiffany Rummel
      .available
        Available At:
        Amazon,
        %a{href:'http://www.amazon.com/gp/product/B006P7S22K/ref=oh_aui_d_detailpage_o01_?ie=UTF8&psc=1', target: '_blank'}Kindle
        ,
        %a{href: 'http://catalog.wlnonline.org/polaris/search/title.aspx?ctx=13.1033.0.0.5&pos=4', target: '_blank'} Greensburg Area Library
        , Barnes & Noble
%section.discussion-info
  .discussion-info--resources
    .title
      Resources
    .list
      %ul
        %li
          %a{href: '/files/The_Alchemist_by_Paulo_Coelho_Questions.pdf', target: '_blank'} Discussion Questions